body{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #b0ff95;
}
.container{
    display: flex;
    flex-direction: column;
    border: black;
    border-style: solid;
    max-width: 220px;
    align-items: center;
    background-color: black;
}

.digitContainer{
    display: flex;
    flex-direction: column-reverse;
}

.display{
    align-content: right;
    align-self: flex-end;
    color:antiquewhite
}

button{
    margin-top:5px;
    width: 50px;
    height: 50px;
    color:antiquewhite;
    border-radius: 5%;
}

#zero{
    width:105px;
}

button.support{
    background-color: #ff681d;
}

button.digit, button.decimal{
    background-color:#431dff;
}

button.operator, button.equals{
    background-color: #ff0400;
}